.center-image{
    display: block;
    margin: auto;
}

.social-margin-top{
     margin-top: 20px;
 }
.about-margin-top{
    margin-top: 10%;
}
.small-box-container{
    margin-top: 2%;
}
.bg-royal{
    /*background-color: #27AE60;*/
    background-color: #34495E !important;
}
.bg-blue{
    background-color: #2980B9 !important;
}
.bg-green{
    background-color: #27AE60 !important;
}
.bg-yellow{
    background-color: #E67E22 !important;
}
.small-box {

    color: #ffffff;
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.small-box h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.small-box>.inner {
    padding: 10px;
}
.small-box-h{
    margin-left: 10px;
    margin-right: 10px;

}
.small-box h3, .small-box p {
    z-index: 5;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.small-box-icon{
    margin-bottom: 40px;
    height: 70px;
    width: 70px;
}
.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0,0,0,0.15);
}


.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}
.google-map{

    width:100%;
    height:460px;

}
.panel-body-map{
    padding: 0px;
}
.p-about{
    color: #3f3f40;
}
.checkbox-alignment{
    padding-left: 40px;
    margin-top: 0px;
}
.hidediv{
    display: none;
}
.close-alert{

    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #be0007;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.form-gap {
    padding-top: 70px;
}


