<!DOCTYPE html>
<html>

<head>

    {% include "myStyle.html" %}

</head>

<body>

<div id="wrapper">

    {% include "nav.html" %}
    <div id="page-wrapper">

        <!-- /.row -->
        <div class="row ">
            <div class="col-lg-12 about-margin-top">
                <img src="{{ url_for('static',filename='images/logo.png') }}" class="center-image">
            </div>
        </div>
        <div class="row text-center social-margin-top">
            <div class="col-lg-12">
                <h2 class="text-center">Crime Incident Reporting System v1.0</h2>
            </div>
        </div>


        <div class="row text-center ">
            <div class="col-lg-12">
                <p class="p-about">Developer: DeveloperNameHere Inc.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-social-icon "><span class="fa fa-android"></span></a>
                    <a href="#" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>

                </div>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin.js') }}"></script>


</body>

</html>
