<!DOCTYPE html>

    <html>

    <head>

        {% include "myStyle.html" %}
<meta http-equiv="refresh" content="5" />

    </head>

    <body>

    <div id="wrapper">



        {% include "nav.html" %}


        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>

                <!-- /.col-lg-12 -->
            </div>


            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8 ">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <!--                    panel title here-->
                            Reported Incident Locations
                        </div>
                        <div class="panel-body panel-body-map">
                            <div id="googleMap" class="google-map"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3><div id="report_count_notif"></div></h3>
                                    <p>New Report</p>
                                </div>
                                <div class="icon">
                                    <img src="{{ url_for('static',filename='images/report.png') }}" class="small-box-icon">

                                </div>
                                <a href="{{ url_for('report') }}" class="small-box-footer">View Report <i class="fa fa-arrow-circle-right"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3><div id="user_count_notif"></div></h3>

                                    <p>New User</p>
                                </div>
                                <div class="icon">
                                    <img src="{{ url_for('static',filename='images/user.png') }}" class="small-box-icon">

                                </div>
                                <a href="{{ url_for('user') }}" class="small-box-footer">View Users <i class="fa fa-arrow-circle-right"></i></a>
                            </div>

                        </div>
                    </div>
{#                    <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                            <!-- small box -->#}
{#                            <div class="small-box bg-green">#}
{#                                <div class="inner">#}
{#                                    <h3><div id="msg_count_notif"></div></h3>#}
{##}
{#                                    <p>New Message</p>#}
{#                                </div>#}
{#                                <div class="icon">#}
{#                                    <img src="{{ url_for('static',filename='images/message.png') }}" class="small-box-icon">#}
{##}
{#                                </div>#}
{#                                <a href="{{ url_for('report') }}" class="small-box-footer">View Message <i class="fa fa-arrow-circle-right"></i></a>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-lg-12">#}
{#                            <!-- small box -->#}
{#                            <div class="small-box bg-yellow">#}
{#                                <div class="inner">#}
{#                                    <h3><div id="announcement_count_notif"></div></h3>#}
{##}
{#                                    <p>New Announcement</p>#}
{#                                </div>#}
{#                                <div class="icon">#}
{#                                    <img src="{{ url_for('static',filename='images/megaphone.png') }}" class="small-box-icon">#}
{##}
{#                                </div>#}
{#                                <a href="{{ url_for('announcement') }}" class="small-box-footer">Vew Announcement <i class="fa fa-arrow-circle-right"></i></a>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->

    </div>


    <script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <script src="{{ url_for('static',filename='js/sb-admin.js') }}"></script>

    <script src="{{ url_for('static',filename='js/custom/js_index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsiFr0lU21ppFNfIogeIOvOfoC8xkhvog&callback=initialize"></script>


    </body>

    </html>

