<!DOCTYPE html>
<html>

<head>

{#    {% if   session['fullName'] ==  False %}#}
{##}
{#    {% endif %}#}

    {% include "myStyle.html" %}

</head>

<body>


<div class="container">

    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <div class="row ">
                <div class="col-lg-12 about-margin-top">
                    <img src="{{ url_for('static',filename='images/logo.png') }}" class="center-image">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2 class="text-center">Crime Incident Reporting System</h2>
                </div>
            </div>
            <div>
                <div id="result" class="alert alert-danger alert-dismissable" hidden>Username or Password are incorrect
                    <a href="#" class="pull-right close-alert" aria-label="close" id="x" hidden>×</a>
                </div>
                <form id="login_form" autocomplete="off">
                    <fieldset>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input id="username" name="username"  placeholder="Username" class="form-control"  type="email" required>
                            </div>
                            {#                        <input class="form-control" placeholder="Username" name="username" value="admin" autofocus>#}
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                <input id="password" name="password" placeholder="Password" class="form-control"  value="" type="password" required>
                            </div>

                            {#                            <input class="form-control" placeholder="Password" name="password" type="password" value="admin">#}
                        </div>

                        <button id="cmd_login"  type="button" class="btn btn-lg btn-primary btn-block" style="margin-top: 20px">Login</button>


                    </fieldset>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-12 checkbox checkbox-alignment">
                            <a href="{{ url_for('recover') }}" class="pull-right">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin.js') }}"></script>
{{ flask_util_js.js }}
<script src="{{ url_for('static',filename='js/custom/js_login.js') }}"></script>

</body>

</html>
