<!DOCTYPE html>
 <html lang="en">

 <head>
   {% include "myStyle.html" %}



 </head>

 <body>

     <div class="container">

         <form role="form">
             <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
             <input type="password" name="password" class="form-control" placeholder="Password" required>
             <button class="btn btn-lg btn-primary btn-block" id="cmd_login" type="button">Register </button>
         </form>

     </div>


<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

<script>
    $(function() {
    $('#cmd_login').click(function() {
        $.ajax({
            url: '/signUpUser',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response.records.user);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>

 </body>

 </html>
