
<!DOCTYPE html>
<html>

<head>

    {% include "myStyle.html" %}



</head>

<body>

<div id="wrapper">

    {% include "nav.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User<button type="button" id="cmd_new" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"> New</span></button></h1>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title"> User's List</h3>
                    </div>
                    <div class="panel-body">
                        <table id="records_table" class="display" cellspacing="0" width="100%" ></table>

                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>


<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal_title"></h4>

            </div>

            <div class="modal-body">
                <div id="user_error" hidden >
                     <div class="alert alert-danger alert-dismissable" >Please fill all required information
                    <a href="#" class="pull-right close-alert" aria-label="close" id="userx" >×</a>
                </div>
                </div>

                <form role="form">
                    <input class="form-control" placeholder="cn" name="txt_cn" id="txt_cn" type="hidden" >
                    <input class="form-control" placeholder="action" name="txt_action"  id="txt_action" type="hidden" >
                    <div class="col-lg-12">
                        <div id="userphoto" class="pull-right"></div>
                    </div>
                    <div class="form-group">
                        <span>Name</span>
                        <input class="form-control" placeholder="Name" name="txt_name"   id="txt_name"  >
                    </div>
                    <span>Username</span>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" type="email" name="txt_email" id="txt_email" >
                    </div>
                    <div id="divpwd">
                        <span>Password</span>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" type="password" name="txt_password" id="txt_password" >
                            <div id="pwd_validate" style="font-size: 12px;color: #be0007" ><p id="p-error-pwd"></p></div>
                        </div>
                        <span>Repeat Password</span>
                        <div class="form-group">
                            <input class="form-control" placeholder="Repeat Password" type="password" name="txt_repeatpassword" id="txt_repeatpassword" >

                            <div id="repwd_validate" style="font-size: 12px;color: #be0007" ><p id="p-error-repwd"></p></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <span>Gender</span>
                            <div class="form-group">
                                <select name="cbo_gender" id="cbo_gender"  class="form-control">
                                    <option id="select_gender" value="-"></option>
                                    <option id="select_gender" value="Male">Male</option>
                                    <option id="select_gender" value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span>Age</span>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Age" name="txt_age"  id="txt_age" >
                            </div>
                        </div>
                    </div>
                    <span>Address</span>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Address" name="txt_address" id="txt_address"></textarea>
                    </div>
                    <span>User Level</span>
                    <div class="form-group">
                        <select name="cbo_type" id="cbo_type" class="form-control">

                            <option id="select_user" value="2">User</option>
                            <option id="select_admin" value="1">Admin</option>
                        </select>
                    </div>
                    <div id="div_since">
                        <span id="txt_label_since">Member Since</span>
                        <div class="form-group">
                            <input class="form-control" type="text" name="txt_since" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="cmd_save_user">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- /#wrapper -->
<script src="{{ url_for('static',filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
{{ flask_util_js.js }}
<script src="{{ url_for('static',filename='js/custom/js_user.js') }}"></script>
</body>

</html>
